@import "tailwindcss";
/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@font-face {
  font-family: "HelveticaCustom";
  src: url("/helvetica-thin.ttf") format("truetype");
}

/* Add this to your index.css */

@font-face {
  font-family: 'Briston';
  src: url('./briston.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}